.m_h_page{
    .banner_sec{
        background: url('#{$imageurl}/banner.jpg') no-repeat;
        height: 100%;
        background-size: cover;
        height: 700px;
        padding: 55px 0;
        .content_view{
            color: $matisse_clr;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            h1{
                font-size: 46px;
                line-height: 56px;
                font-family: $black-font;
                margin-bottom: 0;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
            p{
                font-size: 24px;
                line-height: 32px;
                margin: 15px 0;
            }
        }
        .form_view{
            background-color: $matisse_clr;
            padding: 45px 40px;
            margin-left: auto;
            max-width: 640px;
            h2{
                font-family: $black-font;
                color: $white;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 0.5px;
                margin-bottom: 55px;
                line-height: 36px;
                font-size: 30px;
            }
            .btn{
                margin-top: 15px;
            }
        }

        @include desktop-1399 {
            height:auto;
            padding:35px 0;
            .content_view {
                h1 {
                    font-size: 28px;
                    line-height: 36px;
                }
                p {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            .form_view {
                padding:25px 40px;
                max-width: 100%;
                margin-top: 20px;
                h2 {
                    margin-bottom: 20px;
                    line-height: 28px;
                    font-size: 20px;
                }
                .btn {
                    margin-top: 0px;
                }
            }
        }
        @include media-breakpoint-down(sm){
            padding:25px 0;
            .content_view {
                h1 {
                    font-size: 24px;
                    line-height: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin: 10px 0;
                }
            }
            .form_view {
                padding: 15px 15px;
                h2 {
                    line-height: 26px;
                    font-size: 18px;
                }
            }
        }
        @include media-breakpoint-down(xs){
            .form_view{
                .btn{
                    width: 100%;
                }
            }
        }
    }

    .glucose_sec{
        position: relative;
        padding: 55px 0;
        z-index: 0;
        &:after{
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background-color: $porcelain_clr;
            min-height: 700px;
            z-index: -1;
        }
        .media{
            align-items: center;
            padding-left: 165px;
            margin-bottom: 55px;
            img{
                margin-right: 180px;
            }
            .media-body{
                h5{
                    font-size: 32px;
                    line-height: 39px;
                    font-family: $black-font;
                    color: $pictonblue_clr;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: 0.5px;
                    color: $matisse_clr;
                    margin-bottom: 0;
                }
            }
        }

        .card{
            border-radius: 0;
            border:none;
            background-color: transparent;
            img{
                width: 100%;
            }
            .card-body{
                padding: 30px 0 0;
                text-align: center;
                h4,p{
                    letter-spacing: 0.5px;
                    color: $matisse_clr;
                }
                h4{
                    font-size: 38px;
                    line-height: 44px;
                    font-family: $black-font;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }


        @include desktop-1440 {
            .media {
                img {
                    margin-right: 30px;
                }
            }
            .card {
                .card-body {
                    p {
                        br{
                            display: none !important;
                        }
                    }
                }
            }
        }
        @include desktop-1399 {
            padding: 35px 0;
            &:after {
                min-height: 400px;
            }
            .media {
                padding-left: 130px;
                margin-bottom: 30px;
                img {
                    max-width: 250px;
                    margin-right: 25px;
                }
                .media-body {
                    h5 {
                        font-size: 24px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
            .card {
                .card-body {
                    padding: 20px 0 0;
                    h4 {
                        font-size: 22px;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        @include media-breakpoint-down(lg) {
            &:after {
                min-height: 400px;
            }
        }
        @include media-breakpoint-down(md){
            &:after {
                min-height: 350px;
            }
            .media {
                padding-left: 0;
                margin-bottom: 20px;
                img {
                    max-width: 200px;
                    margin-right: 15px;
                }
                .media-body{
                    h5{
                        font-size: 22px;
                        line-height: 28px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            padding: 25px 0 10px;
            &:after {
                content: none;
            }
            .media{
                padding-left: 0;
                margin-bottom: 20px;
                img{
                    display: block;
                    margin: 0 auto;
                }
                .media-body{
                    h5{
                        font-size: 20px;
                        line-height: 28px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
            .card {
                margin-bottom: 20px;
            }
        }
        @include media-breakpoint-down(xs){
            .media{
                display: block;
                img {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .freestyle_sec{
        padding: 35px 0;
        background-color: $matisse_clr;
        text-align: center;
        color: $white;
        p{
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.5px;
            margin-bottom: 0;
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }

        @include desktop-1399 {
            p {
                font-size: 16px;
                line-height: 24px;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            padding:25px 0;
        }
    }
}